<amplify-authenticator>
  <div>
    <h1>Todo App</h1>
    
    
  </div>
  <!-- previous code -->
<navbar></navbar>
<div class="container">
<div class="form-body">
  <h3>Enter your Todo here..</h3>
    <form autocomplete="off" [formGroup]="createForm" (ngSubmit)="onCreate(createForm.value)">
    <div class="form-group">
        <label>ID</label>
        <input class="form-control" type="text" formControlName="id" autocomplete="off">
        </div>
      <div class="form-group">
        <label>Name: </label>
        <input class="form-control" type="text" formControlName="name" autocomplete="off">
      </div>
      <div class="form-group">
        <label>Description: </label>
        <input class="form-control" type="text" formControlName="description" autocomplete="off">
      </div>
      <button class="btn btn-outline-success mb-2" type="submit">Submit</button>
    </form>
  </div>
  <h2>Existing Todos</h2>
  <div *ngFor="let todo of restaurants ;let indexOfelement=index;">
      <div><h3>{{indexOfelement + 1}} -- {{ todo.name }}</h3></div>
      <div><p>{{ todo.description }}</p> </div>
      <div class="mb-2">
        <button class=" mx-1 btn btn-outline-warning" (click) = "upTodo(todo)">Update</button>
        <button class="btn btn-outline-danger" (click) = "delTodo(todo)">Delete</button>
      </div>
      <br>
  </div>
  <amplify-sign-out></amplify-sign-out>
  </div>
</amplify-authenticator>

  <br><br><br>
<!-- <course></course> -->
<svg-task></svg-task>
<p>App component works</p>
<h1>{{title}}</h1>
<a [routerLink]="['profile', 1]">Profile</a>
<router-outlet></router-outlet>

<!-- <course (change) = "buttonClicked($event)"></course>
<favorite></favorite>
<br>
<br><br><br><br>
<signup-form></signup-form>
-->

<!-- <input type="text" appInputFormatter>
<br>
<br>
<div class = "zippy">
    <div class = "tab-heading"
    [class.expanded] = "isExpanded"
    (click) = "toggle()"
    >
        Billing Details
    </div>
    <div class = "tab-body" *ngIf = "isExpanded">
        Billing Details content
    </div>
</div> -->